version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: central-prometheus-server
    volumes:
      - ./central/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./central/alerts.yml:/etc/prometheus/alerts.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-remote-write-receiver'
    ports:
      - "9091:9090"
    networks:
      - monitor-net

  alertmanager:
    image: prom/alertmanager:latest
    container_name: central-alertmanager
    volumes:
      - ./central/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'
    ports:
      - "9093:9093"
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    container_name: central-grafana
    volumes:
      - ./central/grafana/provisioning:/etc/grafana/provisioning
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    networks:
      - monitor-net

networks:
  monitor-net:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:
