global:
  scrape_interval: 15s
  external_labels:
    role: 'parachain-collator'

remote_write:
  - url: 'http://central-prometheus-server:9090/api/v1/write'

scrape_configs:
  - job_name: 'parachain-node-scraper'
    static_configs:
      - targets: ['localhost:9615']
    metric_relabel_configs:
      # Extract node name from substrate_build_info
      - source_labels: [name]
        regex: '(.+)'
        target_label: __node_name
        action: replace
    target_relabel_configs:
      # Promote __node_name to instance label
      - source_labels: [__node_name]
        target_label: instance
        action: replace
